header{
	width: 100%;
	height: 60px;
	background-color: rgb(25,198,163);
}

header img{
	width: 50px;
	height: 50px;
	margin: 5px 50px;
}

.view{
	font-size: 20px;
	color: #ffffff;
	margin: 20px 100px;

}

.leftMenu{
	width: 180px;
	height: 600px;
	background-color: rgb(50,50,54);
	float: left;
	

}

.leftMenu ul{
	width: 100%;
}

.leftMenu li{
	width: 100%;
	line-height: 50px;
	
	color: rgb(255,255,255);
	font-weight: 300;
	padding-left: 40px;

}

.leftMenu .thisCard{
	color: rgb(111,173,235);
	
}

.fontSign{
	font-weight: 100;
	color: rgb(255,255,255);
	position: relative;
	margin-top: 50%;
	left: 50px;

	
}

.leftMenu .boxli{
	height: 3px;
	overflow: hidden;
	padding-left: 0;
}



.boxshandowTop{
	width: 100%;
	height: 6px;
	-webkit-box-shadow:0 0 0,inset 0 0 3px rgb(25,25,25);  
    -moz-box-shadow:0 0 0,inset 0 0 3px rgb(25,25,25);  
    box-shadow:0 0 0,inset 0 0 3px rgb(25,25,25);
}
 
.boxshandowButtom{
	width: 100%;
	height: 6px;
	-webkit-box-shadow:0 0 0,inset 0 0 3px rgb(25,25,25);  
    -moz-box-shadow:0 0 0,inset 0 0 3px rgb(25,25,25);  
    box-shadow:0 0 0,inset 0 0 3px rgb(25,25,25);
	top:-3px;
	position: relative;
}




.cardView li{
	background-color: rgb(50,50,54);
	border: none;

}



.leftMenu .cardView{
	padding: 0;
	display: none;
}

.leftMenu li:hover{
	cursor: pointer;
	background-color: rgb(74,73,80);
}



.smaview{
	width: 400px;
	height: 80px;
	font-size: 20px;
	color: #FFFFFF;
	line-height: 60px;
	background-color: rgb(208,208,208);
	font-family: "Helvetica","STHeitiSC-Light","Arial",sans-serif;
	text-align: center;
	position: fixed;
	top: 60px;
	left:50%;
	margin-left: -150px;
	display: none;
	z-index: 2000;
}

.sbody{
	min-height: 400px;
	margin-left: 180px;
	overflow: hidden;
	background-color: rgb(241,244,245);

}

.groupBuying{
	
	display: inline-block;
	font-size: 20px;
	margin: 40px 20px 5px;
	color: rgb(83,83,83);
	font-weight: 200;
	border-bottom:1px solid rgb(208,208,208);
}

.input-group{
	width: 460px;
	margin: 10px 0;

}



.icon{
	font-size: 8px;
	font-weight: 200;
	line-height: 34px;
	margin-left: 6px;
}

.icon-remove{
	color: red;
}

.icon-remove:hover{
	cursor: pointer;
}

.icon-ok{
	color: green;
}

.notMust{
	color: red;
}

.input-group .onlyForm{
	width: 200px;

}

.input-group .formTime{
	width: 68px;
	padding: 2px 2px;
}

.inputviews #rangeTime{
	width: 300px;
}

.inputGroupView{
	
	margin:10px 20px;
	padding: 20px 0px 0 20px;
	border: 1px solid rgb(208,208,208);
}


.inputviews{
	display: inline-block;
	width: 490px;
}



.remind{
	width: 490px;
	display: inline-block;
}


.addimg{
	width: 40px;
	height: 40px;
	display: inline-block;
	border: 1px solid #909090;
	border-radius: 20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	vertical-align: top;
	margin-left: 20px;
	position: relative;
	overflow: hidden;
}

.addimg i{
	font-size: 10px;
	color: #909090;
	display: inline-block;
	position: absolute;
	margin: -5px 0 0 -4px;
	top:50%;
	left: 50%;
}

.addimg:hover{
	cursor: pointer;
}

#upimg{
	display: none;
}

.imgview{
	width: 100%;
	height: 100%;
}

.stag{
	height: 40px;
	width: 440px;
	font-size: 16px;
	margin: 5px 0 10px;
	display: inline-block;
}

.upView{
	width: 140px;
	height: 30px;
	color: #555;
    font-size: 16px;
    line-height:40px; 
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    background-color: rgb(238,​ 238,​ 238);
    border:1px solid rgb(204,​ 204,​ 204);
}

.chooseTimeType span{
	color: #555;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    height: 30px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    width: 140px;
}

.showType{
	height: 54px;
	overflow: hidden;
}

.typeView{
	position: relative;
}


.stag input{
	width: 200px;
	font-size: 14px;
	vertical-align: top;
}

.form-group label{
	font-weight: normal;
	color: #555;
}

#upCard{
	text-align: center;
	margin-bottom: 20px;
}

#chooseColor{
	width: 60px;
	height: 24px;
	background-color: #63b359;
	display: inline-block;
	border: 1px solid rgb(204,​ 204,​ 204);
	vertical-align:text-top;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
}

#chooseColor:hover{
	cursor: pointer;
}

.colorTable{
	display: none;
	vertical-align: top;
}

.colorView{
	width: 18px;
	height: 18px;
}

.colorView:hover{
	cursor: pointer;
}

.Color010{
	background-color: #63b359;
}

.Color020{
	background-color: #2c9f67;
}
.Color030{
	background-color: #509fc9;
}
.Color040{
	background-color: #5885cf;
}
.Color050{
	background-color: #9062c0;
}
.Color060{
	background-color: #d09a45;
}
.Color070{
	background-color: #e4b138;
}
.Color080{
	background-color: #ee903c;
}
.Color081{
	background-color: #f08500;
}
.Color082{
	background-color: #a9d92d;
}
.Color090{
	background-color: #dd6549;
}
.Color100{
	background-color: #cc463d;
}

.Color101{
	background-color: #cf3e36;
}
.Color102{
	background-color: #5E6671;
}

#groupDetail{
	width: 600px;
	display: inline-block;
}

#groupDescription{
	width: 600px;
	display: inline-block;
}

#defaultDetail{
	width: 600px;
	display: inline-block;
}

.cardList{
	height: 500px;
	overflow: scroll;
	margin-top: 30px;
	border: 1px solid gray;
	padding: 0;

}

.cardBody{
	margin-top: 20px;
	background-color: rgb(255,255,255);
	padding: 20px 20px 30px;
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-moz-box-shadow: 0px 0px 2px #909090;/*firefox*/
    -webkit-box-shadow: 0px 0px 2px #909090;/*safari或chrome*/
    box-shadow:0px 0px 2px #909090;/*opera或ie9*/  

}

.QRbody{
	min-height:200px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: rgb(255,255,255);
	padding: 20px 20px 30px;
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-moz-box-shadow: 0px 0px 2px #909090;/*firefox*/
    -webkit-box-shadow: 0px 0px 2px #909090;/*safari或chrome*/
    box-shadow:0px 0px 2px #909090;/*opera或ie9*/  
}

.smallCardList{
	height: 130px;
	overflow: scroll;
	padding: 10px 0;
	border-left: 1px solid rgb(213,213,213);
	border-right: 1px solid rgb(213,213,213);
	border-bottom: 1px solid rgb(213,213,213);
	display: none;
}

#section1{
	display: block;
}

.cards{
	height: 80px;
	margin: 10px 0 10px 2.8%;

}

.cards:hover{
	cursor: pointer;
	-moz-box-shadow: 2px 2px 10px #909090;/*firefox*/
    -webkit-box-shadow: 2px 2px 10px #909090;/*safari或chrome*/
    box-shadow:2px 2px 10px #909090;/*opera或ie9*/ 


}

.cards p{
	font-weight: 200;
	font-size: 14px;
	color: #ffffff;
	line-height: 80px;
	text-align: center;
}

.moreAboutCard{
	border:1px solid gray;
}

.cardLogo{
	width: 30px;
	height: 30px;
	display: inline-block;
	border: 1px solid #ffffff;
	border-radius: 15px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	margin-right:4px; 

	}




.modal-dialog{
	width: 1040px;

}

#myModal .modal-content{
	
}


.cardOfDiv{
	width: 400px;
	font-size: 16px;
	font-weight: 200;
	margin: 10px 0;
	display: inline-block;

}

.cardCardchange{
	display: none;
}

.showQR{


	 
}

.QR{
	width: 100%;

}